.sidebar-section {
    display: flex;
    background-color: black;
}

.sidebar {
    height: 100vh;
    background-color: #04272a;
    width: 130px;
    position: fixed;
}

.sidebar-toggle {
    width: 180px;
}

.sidebar-toggle-icons {
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.sidebar-toggle-icons p svg {
    background-color: rgb(7, 37, 37);
    color: white;
    margin-top: 30px;
}


/* .......MOBILE VIEW......*/

@media (max-width:600px) {
    .sidebar {
        display: none
    }
}